<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mis.user.personalMess.dao.UserPersonalMessMapper">
    <resultMap id="BaseResultMap" type="com.mis.user.personalMess.model.UserPersonalMess">
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phone_number" jdbcType="VARCHAR"/>
        <result column="major" property="major" jdbcType="VARCHAR"/>
        <result column="class_number" property="class_number" jdbcType="VARCHAR"/>
        <result column="study_direction" property="study_direction" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="birth" property="birth" jdbcType="VARCHAR"/>
        <result column="labelInfo" property="labelInfo" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="searchUserPersonalMess" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT *
        FROM user_mess
        WHERE id = #{id}
    </select>

    <update id="updateUserPersonalMess" parameterType="com.mis.user.personalMess.model.UserPersonalMess">
        UPDATE user_mess
        SET userName = #{userName},
            sex = #{sex},
            phone_number = #{phone_number},
            major = #{major},
            class_number = #{class_number},
            study_direction = #{study_direction},
            age = #{age},
            birth = #{birth},
            labelInfo = #{labelInfo}
        WHERE id = #{id}
    </update>
</mapper>