<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mis.user.regist.dao.UserRegistMapper">

    <!-- 注册验证及注册 -->
    <insert id="insertUser" parameterType="com.mis.user.regist.model.UserRegistInfo">
        INSERT
        INTO user_mess (userName,password,id,e_mail,study_direction)
        values (#{userName}, #{password},#{id},#{e_mail},#{study_direction})
    </insert>

    <!-- 验证用户学号是否已经被注册 -->
    <select id="registUserByUserId" parameterType="java.lang.String" resultType="com.mis.user.regist.model.UserRegistInfo">
        SELECT *
        FROM user_mess
        WHERE id = #{id};
    </select>

    <!-- 验证用户邮箱是否已经被注册 -->
    <select id="registUserByUserEmail" parameterType="java.lang.String" resultType="com.mis.user.regist.model.UserRegistInfo">
        SELECT *
        FROM user_mess
        WHERE e_mail = #{e_mail};
    </select>
    <!-- 注册验证结束 -->

</mapper>