.main{
	position: relative;
	width: 1000px;
	height: 800px;
	left: 40%;
}
#title_1{
	position: relative;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 120px;
}
.input{
	position: absolute;
	width: 350px;
	margin-top: 30px;
}
.hr{
	border: 1px solid white;
}
#checkanwserusername,#checkanwseremail,#checkanwserID,#checkanwsercode,#checkanwserrecode{
	position: absolute;
	color: #c7c7cb;
	margin-top: 35px;
	margin-left: 10px;
}
#checkanwserregister{
	position: absolute;
	color:#4184ca;
	margin-top: 125px;
	margin-left: 370px;
}
#direction{
	color:#c7c7cb;
}
#dropdown{
	margin-left: 282px;
}
#button{
	position: absolute;
	margin-top: 115px;
	width: 350px;
	left: 1.5px;
}
#menu{
	position: absolute;
	width: 350px;
	height: 30px;
	margin-top: 30px;
}
#modal{
	width: 400px;
	height: 200px;
}
#zcimg{
	width: 80px;
	height: 80px;
}
#description{
	margin-left: 130px;
	margin-top: 30px;
}


