#title_1{
    font-size: 60px;
    font-weight: bolder;
    position: relative;
    top: 50px;
}
.input{
	position: relative;
	top: 70px;
	width: 350px;
	margin-top: 15px;
}
.hr{
	border: 1px solid white;	
}
#checkanwserusername{
	color: #c7c7cb;
	position: absolute;
	top: 183px;
	left: 900px;
}
#checkanwseremail{
	color: #c7c7cb;
	position: absolute;
	top: 250px;
	left: 900px;
}
#checkanwserID{
	color: #c7c7cb;
	position: absolute;
	top: 320px;
	left: 900px;
}
#checkanwsercode{
	color: #c7c7cb;
	position: absolute;
	top: 390px;
	left: 900px;
}
#checkanwserrecode{
	color: #c7c7cb;
	position: absolute;
	top: 455px;
	left: 900px;         
}
#checkanwserregister{
	color:#4184ca;
	position: absolute;
	top: 615px;
	left: 900px;
}
#direction{
	color:#c7c7cb;
}
#dropdown{
	margin-left: 282px;
}
#button{
	position: relative;;
	top: 100px;
	width: 350px;
	left: 1.5px;
}
#menu{
	position: relative;
	top: 70px;
	width: 350px;
	height: 30px;
	margin-top: 15px;
}
#modal{
	width: 400px;
	height: 200px;
}
#zcimg{
	width: 80px;
	height: 80px;
}
#description{
	margin-left: 130px;
	margin-top: 30px;
}


