<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../public/semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/personage.css">
	<script src="../public/js/jquery-3.3.1.min.js"></script>
	<script src="../public/semantic/dist/semantic.min.js"></script>
	<script type="text/javascript" src="../public/js/personage.js"></script>
	<meta charset="utf-8">
	<title>个人页面</title>
</head>
<body>
	<div class="main">
		<div class="header">
			<img class="headerimg" src="../public/img/cover.jpg">
		</div>
		<div class="userimgbox">
			<div class="user">
				<img class="userimg" src="../public/img/userimg.jpg">
			</div>
			<div class="usermask" onclick="userimg()">
				<i class="huge photo icon"></i>
				<p>修改头像</p>
				<input type="file">
			</div>
			</div>
		<div class="content">
			<div class="userhead">
				<h1><span id="username"></span></h1>
			</div>
				<div class="data">
					<div class="field">
					<h3 class="field-label">性别</h3>
					<div class="field-content">
						<div class="box1">
							<div class="writebox" onclick="sex_write()">
								<i class="write icon"></i>
								<span>填写</span>
							</div>
						</div>
						<div class="box2">
							<input type="radio" name="gender" value="男">男
							<input type="radio" name="gender" value="女" style="margin-left:30px">女
							<div class="ButtonGroup">			
								<button class="tiny ui primary button" type="submit" onclick="sex_submit()">保存</button>
								<button class="tiny ui button" type="button" onclick="sex_cancel()">取消</button>
							</div>
						</div>
						<div class="box3">
							<span class="amend-result"></span>
							<div class="changebox" onclick="sex_change()">
								<i class="write icon"></i>
								<span class="amend">修改</span>
							</div>
						</div>
					</div>
					</div>


					<div class="field">
					<h3 class="field-label">学习方向</h3>
					<div class="field-content">
						<div class="box1">
							<div class="writebox" onclick="direciton_write()">
								<i class="write icon"></i>
								<span>填写</span>
							</div>
						</div>
						<div class="box2">
							<input type="radio" name="direciton" value="前端">前端
							<input type="radio" name="direciton" value="后台" style="margin-left:30px">后台
							<input type="radio" name="direciton" value="测试" style="margin-left:30px">测试
							<div class="ButtonGroup">			
								<button class="tiny ui primary button" type="submit" onclick="direciton_submit()">保存</button>
								<button class="tiny ui button" type="button" onclick="direciton_cancel()">取消</button>
							</div>
						</div>
						<div class="box3">
							<span class="amend-result"></span>
							<div class="changebox" onclick="direciton_change()">
								<i class="write icon"></i>
								<span class="amend">修改</span>
							</div>
						</div>
					</div>
					</div>


					<div class="field">
					<h3 class="field-label">真实姓名</h3>
					<div class="field-content">
						<div class="box1">
							<div class="writebox" onclick="name_write()">
								<i class="write icon"></i>
								<span>填写</span>
							</div>
						</div>
						<div class="box2">
							<div class="inputbox3">
								<input class="Input3" maxlength="11" id="name">
							</div>
							<div class="ButtonGroup3">			
								<button class="tiny ui primary button" type="submit" onclick="name_submit()">保存</button>
								<button class="tiny ui button" type="button" onclick="name_cancel()">取消</button>
							</div>
						</div>
						<div class="box3">
							<span class="amend-result"></span>
							<div class="changebox2" onclick="name_change()">
								<i class="write icon"></i>
								<span class="amend">修改</span>
							</div>
						</div>
					</div>
					</div>


					<div class="field">
					<h3 class="field-label">一句话标签</h3>
					<div class="field-content">
						<div class
						="box1">
							<div class="writebox" onclick="label_write()">
								<i class="write icon"></i>
								<span>填写</span>
							</div>
						</div>
						<div class="box2">
							<div class="inputbox">
								<input class="Input" maxlength="32" id="label">
							</div>
							<div class="ButtonGroup">			
								<button class="tiny ui primary button" type="submit" onclick="label_submit()">保存</button>
								<button class="tiny ui button" type="button" onclick="label_cancel()">取消</button>
							</div>
						</div>
						<div class="box3">
							<span class
							="amend-result"></span>
							<div class="changebox2" onclick="label_change()">
								<i class="write icon"></i>
								<span class="amend">修改</span>
							</div>
						</div>
					</div>
					</div>




					<div class="field">
					<h3 class="field-label">年龄</h3>
					<div class="field-content">
						<div class="box1">
							<div class="writebox" onclick="age_write()">
								<i class="write icon"></i>
								<span>填写</span>
							</div>
						</div>
						<div class="box2">
							<div class="inputbox2">
								<input class="Input2" maxlength="32" id="age">
							</div>
							<div class="ButtonGroup2">			
								<button class="tiny ui primary button" type="submit" onclick="age_submit()">保存</button>
								<button class="tiny ui button" type="button" onclick="age_cancel()">取消</button>
							</div>
						</div>
						<div class="box3">
							<span class="amend-result"></span>
							<div class="changebox" onclick="age_change()">
								<i class="write icon"></i>
								<span class="amend">修改</span>
							</div>
						</div>
					</div>
					</div>




					<div class="field">
					<h3 class="field-label">生日</h3>
					<div class="field-content">
						<div class="box1">
							<div class="writebox" onclick="birth_write()">
								<i class="write icon"></i>
								<span>填写</span>
							</div>
						</div>
						<div class="box2">
							<div class="inputbox2">
								<input class="Input2" id="year">年
								<input class="Input2" id="month">月
								<input class="Input2"id="day">日
							</div>
							<div class="ButtonGroup3">			
								<button class="tiny ui primary button" type="submit" onclick="birth_submit()">保存</button>
								<button class="tiny ui button" type="button" onclick="birth_cancel()">取消</button>
							</div>
						</div>
						<div class="box3">
							<span class="amend-result"></span><span class="spanbirth">年</span>
							<span class="amend-result2"></span><span class="spanbirth">月</span>
							<span class="amend-result3"></span><span class="spanbirth">日</span>
							<div class="changebox2" onclick="birth_change()">
								<i class="write icon"></i>
								<span class="amend">修改</span>
							</div>
						</div>
					</div>
					</div>



					<div class="field">
					<h3 class="field-label">手机号</h3>
					<div class="field-content">
						<div class="box1">
							<div class="writebox" onclick="phone_write()">
								<i class="write icon"></i>
								<span>填写</span>
							</div>
						</div>
						<div class="box2">
							<div class="inputbox3">
								<input class="Input3" maxlength="11" id="phone">
							</div>
							<div class="ButtonGroup3">			
								<button class="tiny ui primary button" type="submit" onclick="phone_submit()">保存</button>
								<button class="tiny ui button" type="button" onclick="phone_cancel()">取消</button>
							</div>
						</div>
						<div class="box3">
							<span class="amend-result"></span>
							<div class="changebox2" onclick="phone_change()">
								<i class="write icon"></i>
								<span class="amend">修改</span>
							</div>
						</div>
					</div>
					</div>


					<div class="field">
					<h3 class="field-label">邮箱地址</h3>
					<div class="field-content">
						<div class="box1">
							<div class="writebox" onclick="email_write()">
								<i class="write icon"></i>
								<span>填写</span>
							</div>
						</div>
						<div class="box2">
							<div class="inputbox3">
								<input class="Input3" maxlength="11" id="email">
							</div>
							<div class="ButtonGroup3">			
								<button class="tiny ui primary button" type="submit" onclick="email_submit()">保存</button>
								<button class="tiny ui button" type="button" onclick="email_cancel()">取消</button>
							</div>
						</div>
						<div class="box3">
							<span class="amend-result"></span>
							<div class="changebox2" onclick="email_change()">
								<i class="write icon"></i>
								<span class="amend">修改</span>
							</div>
						</div>
					</div>
					</div>




					<div class="field">
					<h3 class="field-label">年级</h3>
					<div class="field-content">
						<div class="box1">
							<div class="writebox" onclick="grade_write()">
								<i class="write icon"></i>
								<span>填写</span>
							</div>
						</div>
						<div class="box2">
							<div class="inputbox2">
								<input class="Input2" maxlength="32" id="grade">
							</div>
							<div class="ButtonGroup2">			
								<button class="tiny ui primary button" type="submit" onclick="grade_submit()">保存</button>
								<button class="tiny ui button" type="button" onclick="grade_cancel()">取消</button>
							</div>
						</div>
						<div class="box3">
							<span class="amend-result"></span>
							<div class="changebox" onclick="grade_change()">
								<i class="write icon"></i>
								<span class="amend">修改</span>
							</div>
						</div>
					</div>
					</div>



					<div class="field">
					<h3 class="field-label">班级</h3>
					<div class="field-content">
						<div class="box1">
							<div class="writebox" onclick="class_write()">
								<i class="write icon"></i>
								<span>填写</span>
							</div>
						</div>
						<div class="box2">
							<div class="inputbox3">
								<input class="Input3" maxlength="11" id="classmate">
							</div>
							<div class="ButtonGroup3">			
								<button class="tiny ui primary button" type="submit" onclick="class_submit()">保存</button>
								<button class="tiny ui button" type="button" onclick="class_cancel()">取消</button>
							</div>
						</div>
						<div class="box3">
							<span class="amend-result"></span>
							<div class="changebox2" onclick="class_change()">
								<i class="write icon"></i>
								<span class="amend">修改</span>
							</div>
						</div>
					</div>
					</div>


					<div class="field">
					<h3 class="field-label">专业</h3>
					<div class="field-content">
						<div class="box1">
							<div class="writebox" onclick="major_write()">
								<i class="write icon"></i>
								<span>填写</span>
							</div>
						</div>
						<div class="box2">
							<div class="inputbox3">
								<input class="Input3" maxlength="11" id="major">
							</div>
							<div class="ButtonGroup3">			
								<button class="tiny ui primary button" type="submit" onclick="major_submit()">保存</button>
								<button class="tiny ui button" type="button" onclick="major_cancel()">取消</button>
							</div>
						</div>
						<div class="box3">
							<span class="amend-result"></span>
							<div class="changebox2" onclick="major_change()">
								<i class="write icon"></i>
								<span class="amend">修改</span>
							</div>
						</div>
					</div>
					</div>



					<div class="field">
					<h3 class="field-label">爱好</h3>
					<div class="field-content">
						<div class="box1">
							<div class="writebox" onclick="hobby_write()">
								<i class="write icon"></i>
								<span>填写</span>
							</div>
						</div>
						<div class="box2">
							<div class="inputbox">
								<input class="Input" maxlength="32" id="hobby">
							</div>
							<div class="ButtonGroup">			
								<button class="tiny ui primary button" type="submit" onclick="hobby_submit()">保存</button>
								<button class="tiny ui button" type="button" onclick="hobby_cancel()">取消</button>
							</div>
						</div>
						<div class="box3">
							<span class="amend-result"></span>
							<div class="changebox2" onclick="hobby_change()">
								<i class="write icon"></i>
								<span class="amend">修改</span>
							</div>
						</div>
					</div>
					</div>


					<div class="field">
					<div class="ButtonGroup">			
						<button class="medium ui primary button" type="submit" onclick="submit()">提交</button>
						<button class="medihun ui button" type="button" onclick="class_cancel()">取消</button>
					</div>
					</div>
				</div>
		</div>
	</div>
	</div>
	</div>
	</div>
</body>
</html>