<!doctype html>  
<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<title>404</title>
		
		<link rel="stylesheet" href="../static/public/css/404reset.css">
		<link rel="stylesheet" href="../static/public/css/404.css">
		<link rel="stylesheet" href="../static/public/css/404main.css">
		
	<body>
		<div id="showMsg">
			<span style="color: #eee">Oops!</span>
			<br>
			<span>404 Not found!</span>
		</div>
		<div id="fof">
			<div></div>
			<canvas></canvas>
		</div>
		
		<script src="../static/public/js/404.js"></script>
		
	</body>
</html>