<html>
<head>
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="../public/semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/register.css">
	<script src="../public/js/jquery-3.3.1.min.js"></script>
	<script src="../public/semantic/dist/semantic.min.js"></script>
	<script type="text/javascript" src="../public/js/register.js"></script>

	
</head>
<body>
	<center>
	<h1 id="title_1">Mis</h1>
	<div class="ui input" id="input">
		<input type="text" id= "yonghu" placeholder="用户名" onblur="checkyonghu()">
	</div>
	<span id="checkanwseryh"></span>
	<div class="ui divider" id="divider"></div>


	<div class="ui input" id="input">
		<input type="txet" id="youxiang" placeholder="邮箱" onblur="checkyouxiang()">
	</div>
	<span id="checkanwseryx"></span>
	<div class="ui divider" id="divider"></div>


	<div class="ui input" id="input">
		<input type="text" id="ID" maxlength="10"  placeholder="学号(10位)" onblur="checkID()">
	</div>
	<span id="checkanwserID"></span>
	<div class="ui divider" id="divider"></div>


	<div class="ui input" id="input">
		<input type="password"  id="code" maxlength="6" placeholder="密码(6位)" onblur="checkcode()">
	</div>
	<span id="checkanwsercode"></span>
	<div class="ui divider" id="divider"></div>


	<div class="ui input" id="input">
		<input type="password" id="recode" maxlength="6"  placeholder="确认密码" onblur="checkrecode()">
	</div>
	<span id="checkanwserrecode"></span>
	<div class="ui divider" id="divider"></div>


	<div class="ui compact menu" id="menu">
	  <div class="ui simple dropdown item">
	  	<span id="fangxiang">方向</span>
	    <i class="dropdown icon" id="dropdown"></i>
	    <div class="menu">
	      <div class="item" onclick="qianduan()">前端</div>
	      <div class="item" onclick="houtai()">后台</div>
	      <div class="item" onclick="ceshi()">测试</div>
	    </div>
	  </div>
	</div>
	<div class="ui divider" id="divider"></div>


	<div class=" blue ui button" id="button" onclick="zhuce()">注册</div>
	<!-- <span id="checkanwserzc"></span> -->
	<div class="ui basic modal" id="modal">
	  <i class="close icon"></i>
	  <div class="header">
	    恭喜您注册成功
	  </div>
	  <div class="image content">
	    <div class="image">
	      <!-- <i class="archive icon"></i> -->
	      <img id="zcimg"src="../public/img/zhuce.png">
	    </div>
	    <div class="description" id="description">
	      <p>请单击确定</p>
	    </div>
	  </div>
	  <div class="actions">
	    <div class="two fluid ui inverted buttons">
	      <div class="ui cancel red basic inverted button">
	        <i class="remove icon"></i>
	        取消
	      </div>
	      <div class="ui ok green basic inverted button" id=>
	        <i class="checkmark icon"></i>
	        确定
	      </div>
	    </div>
	  </div>
	</div>
	<div class="ui divider" id="divider2"></div>


	</center>
</body>
</html>