<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mis.user.dao.UserMapper">
    <resultMap id="user" type="com.mis.user.model.User">
        <id column="id" property="id" />
        <result column="username" property="userName"/>
        <result column="password" property="passWord"/>
        <result column="e_mail" property="e_mail" />
        <result column="sex" property="sex" />
        <result column="phone_number" property="phone_number" />
        <result column="major" property="major" />
        <result column="class_number" property="class_number" />
        <result column="study_direction" property="study_direction" />
        <result column="age" property="age" />
        <result column="birth" property="birth" />
        <result column="habit" property="habit" />
        <result column="status" property="status" />
    </resultMap>

    <insert id="insertUser" parameterType="com.mis.user.model.User">
        insert into user_mess (username, password,id,e_mail,sex,phone_number,major,class_number,study_direction,age,birth,habit)
        values (#{userName}, #{passWord},#{id},#{e_mail},#{sex},#{phone_number},#{major},#{class_number},#{study_direction},#{age},#{birth},#{habit}) ;
    </insert>
</mapper>